<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product App</title>
        <link rel="stylesheet" type="text/css" href="assets/style.css">
    </head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <span v-bind:title="loadedTime">
                        <img v-bind:src="image" v-bind:alt="alt">
                    </span>
                </div>
                <div class="product-info">
                    <h1>
                        <a v-bind:style="linkStyle" v-bind:href="link" target="_blank">{{ product }}</a>
                    </h1>
                    <p>{{ description }}</p>
                </div>
            </div>
        </div>

        <div id="app-2">
            <div class="product">
                <div class="product-info">
                    <h1>Conditional Case</h1>
                    <p v-if="seen">{{ message }}</p>
                </div>
            </div>
        </div>

        <div id="app-3">
            <div class="product">
                <div class="product-info">
                    <h1>Loop Case</h1>
                    <ol>
                        <li v-for="number in numbers">{{ number.text }}</li>
                    </ol>
                </div>
            </div>
        </div>

        <div id="app-4">
            <div class="product">
                <div class="product-info">
                    <h1>Action Case</h1>
                    <p v-if="seen">
                        {{ message }}
                    </p>
                    <input type="text" v-model="message">
                    <button v-on:click="clickEvent">{{ btnName }}</button>
                </div>
            </div>
        </div>

        <script src="assets/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>